@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}
.header{
  background:#EFF3F9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 20px;
  position: fixed;
  width: 100%;
 
}
ul{
  display: flex;
  list-style-type: none;

}
 li{
  margin-right: 30px;
  font-weight: 18px;
  font-weight: 500;
 

}
.header-text{
  text-align: center;
  padding: 40px 0;
}
span{
  color:
  #3b82f6
}
.header-text h2{
  font-size: 36px;
  font-weight: bold;
 
}
.contact {
  color: #1f2b3f;
  background: rgb(166, 191, 228);
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 5px 15px;
  margin: 20px 0;


}
.email-pass{
  display: flex;
  flex-direction: column;
}
input{
  border: none;
  outline: none;
  padding: 10px 20px;
  margin: 15px 15px;
  border-radius: 10px;
  background: #c2c5c9;
  color: #000;
  font-weight: 500;
}
input[type=submit]{
  background: purple;
  color: #c2c5c9;
  text-align: center;
}
.google{
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 10px;

  color:#1f2b3f;
  margin-right: 10px;
}
.fb{
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 10px;
 
  color:rgb(77, 122, 161);
  margin-left: 10px;
}
